*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

#main{
    background-color: rgb(181, 159, 143);
    padding-bottom: 30px;
}

p{
    font-family: "Bad Script", cursive;
    font-style: normal;
}

#first-img{
    max-width: 100%;
    object-fit: contain;
    width: 4096px;
    z-index: 0;
}

#grilltext{
    position: absolute;
    width: 700px;
    max-width: 90%;
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 20%;
}

#header{
    height: 40px;
    max-width: 100%;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    border-width: 0 0 2px 0;
    border-style: solid;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

#form{
    margin-top: 30px;
}

header a{
    text-decoration: underline;
    list-style: none;
    color: black;
    font-size: 1.2em;
    padding: 0 15px 0 15px;
}

header li{
display: inline-block;
margin-left: 5%;
margin-right: 5%;
margin-top: 6px;
}

header a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

header ul{

}

h1, h2, h3, h4{
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

h2{
    text-decoration: underline;
}

h2, h3{
    margin-top: 30px;
}

#log, #reg{
    padding-top: 50px;
}

#submit, #submit2{
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 20px;
padding: 2px 5px 2px 5px;
background-color: white;
border-style: none;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}

#submit:hover, #submit2:hover{
background-color: rgb(255, 255, 255);
box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
}

input{
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;
}

.column{
    display: inline-block;
    margin: 0 10px 0 10px;
}

.column-edit{
    border-color: blue;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    width: auto;
    margin-top: 3px;
    padding: 0 5px 0 5px;

}

.price, .kr{
    display: inline-block;
    margin-left: 5px;
}

.kr{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5;
}

.menu-row, .worker-row{
    margin-left: 10%;
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.update-item {
    margin-right: 10px;
}

#page-width{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#logout-btn{
    position: fixed;
    right: 15px;
    top: 10px;
}

#cart {
    position: fixed;
    top: 40px;
    height: 33px;
    width: 100%;
    max-width: 100%;
    background-color: rgb(101, 128, 164);
    color: white;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: black;
    display: none;

}

#cart:hover {
    cursor: pointer;
    background-color: rgb(144, 164, 187);
}

.cart-logo {
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-top: 2px;
  }


.order-item {
    display: inline-block;

}

button{
    background-color: white;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
    border-style: none;
}

button:hover {
    background-color: rgb(249, 249, 249);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
}

#cart-items {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    z-index: 3;
}

#cart-items h3 {
    margin-top: 70px;
}

#cart-header{
    margin-top: 30px;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#cart-header:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#write-small-cart {
 display: inline-block;
 vertical-align: top;
}

select{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px;
    border-radius: 2px;
    position: relative;
    top: 2px;
}

#cart-close{

}

#order-div{
    display: none;
}

#menu {
    background-color: rgb(241, 247, 255);
    border-style: double;
    border-width: 7px;
    border-color: black;
    margin: 5% 10% 5% 10%;
    /*background-image: url("/src/img/test_menu5.jpg");
    background-size: contain;
    background-repeat: repeat;*/
    font-family: "Bad Script", cursive;
    font-style: normal;
    padding-bottom: 5px;
}

footer{
    background-color: rgb(79, 112, 154);
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: black;
    color: white;
    width: 100%;
    margin-top: 0px;
    font-weight: bold;
}

.footer-div{
    display: inline-block;
    width: 33%;
    padding-top: 10px;
    padding-bottom: 20px;
    vertical-align: top;

}

footer p {

  }
  
  footer a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-family: "Bad Script", cursive;
    font-style: normal;
  }

  #alert-checkout{
    margin-top: 30px;
  }
  
  .icons{
    position: relative;
    top: 5px;
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
  }

  /*#not-verified{
    display: none;
  }*/

@media only screen and (min-width: 1920px){
    #first-img{
        object-fit: cover;
        height: 800px;
    }

    #grilltext{
        margin-top: 14%;
    }
}

@media only screen and (max-width: 500px){
    #menu {
        border-width: 5px;
        margin: 5% 2% 5% 2%;
    }

    .footer-div{
        width: 99%;
        padding-top: 10px;
        padding-bottom: 20px;
        vertical-align: top;
    }

    .menu-row, .worker-row{
        margin-left: 2%;
        border-width: 0 0 1px 0;
        border-color: black;
        border-style: solid;
        width: 96%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}